/* Create your test CSS here */

html {
  font-size: 2em;/*since font size of root element is in em. Here 1em is equal to default font size provided by the browser (usually 16px)*/
}
.px {
  background-color: aquamarine;
  border:black solid 1px;
  width: 200px;
}

.vw {
  background-color: aquamarine;
  border:black solid 1px;
  width: 100vw;
}

.em {
  background-color: aquamarine;
  border:black solid 1px;
  width: 30em;
}

.ems li {
  font-size: 1.3em;
}

.rems li {
  font-size: 1.3rem;
}

